/*The main Hero Section*/
.mainList li{
    display: inline;
    padding-right: 30px;
    justify-content: center;
}
.mainNavigation{
    width:100vw;
    margin:0 auto;
    position:fixed;
}
.mainPage{
    background-color: rgb(250, 215, 235);
    background-image: url("../Images/mainPage.jpg"); /* The image used */
    height: 100vh; 
    width: 100vw;
    text-align: center;
    padding-left: 0px;
    padding-top:20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    font-family: sans-serif;
}
ul{
    width: 100vw;
    list-style: none;
    margin:auto;
}
blockquote{
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;   
    text-align: center;
    width:100vw;
}
h1,h2{
    font-family: 'Pacifico', cursive;
    font-size: 150px;
    letter-spacing: 5px;
    text-align: center;
    width:100vw;
}

#mainHead{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
a:hover{
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
    color: rgb(255, 255, 255);
}
.Home{
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
.Home:hover{
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    color:rgb(255, 133, 154);
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 30px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    text-align: center;
}
#mainPageFoot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 30px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    text-align: center;
}
/*All about page info*/
.aboutPage{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
}
.about{
    background-image: url("../Images/cute-cupcake-wallpapers.png"); 
    background-attachment: fixed;
    width: 100vw; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.aboutBox1{ 
    align-items:flex-start;
    width: 60vw;
    margin:auto;
    background-color:white;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: rgb(0, 0, 0);
}
.aboutBox1 p{
    line-height: 30px;
    margin:10px;
    text-align:justify;
}
.aboutBox1 h2{
    margin:auto;
    text-align: center;
    font-size:100px;
    width:60vw;
}
.sideLogo{
    position: fixed;
    z-index: 1;
    top: 20px;
    left:0;
    background: rgba(255, 252, 252, 0);
    overflow-x: hidden;
    padding: 8px 0;
}
.sideLogo img:hover{
opacity: 0.6;
}
/* 3 Column section*/
.container {
    background-color: rgb(100, 12, 49);
    display:flex;
    flex:100%;
    justify-content: space-between;
    align-items:center;
}
.box1{
    width:60%;
    order:2;
    height: 86vh;
}
.box2{
    width:17%;
    order:1;
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    padding-left:22px;
    height: 100vh
}
.box3{
    width:17%; 
    order:3;
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    padding-right:22px;
    height: 100vh
}
.box1:hover{
        width:60%;
        order:2;
        height: 86vh;
        opacity:0.7;
}
.subBox2, .subBox1 {
    padding-top:35px;
    padding-bottom: 5px;
    height: 25%;
    background-color:white;
    opacity: 0.5;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.subBox1 p, .subBox2 p, .subBox1 h4, .subBox2 h4{
    margin: 5%;
    color: #000000;
    line-height: 40px;
    text-align: center;
}
.subBox1 h4, .subBox2 h4{
    color: rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
}

/*The form page*/

.formPage{
    display:flex;
    flex-direction:column;
    background-color: rgb(250, 215, 235);
    background-image: url("../Images/Spiky.jpg"); /* The image used */
    height: 100vh; /* You must set a specified height */
    width: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    font-family: sans-serif;
}
.formContainer{
    align-items:flex-start;
    width: 30vw;
    margin:auto;
    background-color:white;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    color: rgb(0, 0, 0);
}
#formHeader{
    color: rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 70px;
    letter-spacing: 7px;
}

#formList{
    padding:5%;
    list-style: none;
}

#formList li{
    width: 30vw;
    padding-bottom: 30px;
}


.formPage, .mainPage, .aboutPage{
    background-attachment: fixed;
}

/*Products Page*/
.proContainer{
    border:1px solid transparent;
    display:flex;
    justify-content: space-evenly;
    background-image: url("../Images/laceypink.jpg");
    background-attachment: fixed;
    background-size: cover;
}
 
.proBox1{
position:relative;
flex-direction: row;
width:40%;
align-content: center;
order:2;
height:100vh;
}
.proBox1:hover{
    flex-direction: row;
    width:40%;
    align-content: center;
    order:2;
    text-shadow: 2px 2px 2px black;
    height:100vh;
}
.proBox2{
width:15%;
order:1;
background-color: rgb(255, 255, 255);
opacity: 0.6 ;
height:100vh;
color:white;
}
.proBox3{
width:15%; 
order:3;
background-color: rgb(255, 255, 255);
opacity: 0.6 ;
height:100vh;
color:white;
}

.mySlides {
    display: none;
    width:100%;
    height:100%;
}

/* Next & previous buttons */
.proBox1 .prev, .proBox1 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left:0px;
}
.caption:hover {
    color: #f2f2f2;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    left:0px;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.carousel{
    margin:auto;
    width:100%;
    height: 100vh; 
}

body{
    margin:none;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}



